<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="client" class="com.factory.ServiceFactoryBean">
	  <constructor-arg value="com.proxy.IProxy"/>
	  <constructor-arg>
	  	<bean class="com.proxy.ProxyClass" />
	  </constructor-arg>    
	</bean>
	<bean id="velocityEngine" 
		class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
	</bean>

    <bean id="mbeanServer" class="org.springframework.jmx.support.MBeanServerFactoryBean"/>

</beans>